@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flavors&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

html {
    background: radial-gradient(circle, rgb(133, 208, 167), rgb(127, 212, 223), rgb(130, 154, 222));
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;   /* horizontal centering */
    justify-content: flex-start; /* top-aligned */
    min-height: 100vh;
    margin: 0;
    font-family: 'Flavors', cursive; 
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 20px 0;
    text-align: center;
    font-size: 6rem;
    font-family: 'Flavors', cursive; 
}

#gridContainer {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* each cell at least 120px */
}

.cell {
    width: 200px;
    height: 200px;
    font-size: 2.25rem;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(228, 219, 255);
    transition: opacity 0.5s ease;
    border-radius: 10px;
}

.cell:hover {
    background: rgb(208, 223, 228);
    cursor: pointer;
}

.cell.matched {
    opacity: 0;
    pointer-events: none; /* Disable further clicks */
}

